@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }  
}

.p-btn {
  cursor: pointer;

  &.-settings {
    height: 35px;
    background-color: transparent;
    border: none;

    >.lang-img, >.theme-img {
      height: 100%;
      vertical-align: middle;
    }
  }

  &.-lang-active, &.-theme-active {

    &:hover {
      animation: pulse infinite alternate 0.5s;
    }
  }
}