@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.p-section {
  &.-home {
    line-height: 1.2;
    font-size: 3rem;

    >.greetings-resume {
      max-width: var(--p-wrapper-desktop);
      margin: 0 auto;
      padding: 12rem 0 6rem;

      >.greeting-text {
        >div {
          >.name {
            color: red;
            font-size: 5rem;
          }
        
          >.job {
            color: blue;
            font-size: 4rem;
          }
        }
  
        &:after {
          content: '|';
          font-size: 5rem;
          margin-left: 5px;
          opacity: 1;
          animation: blink 0.5s infinite;
        }
      }
  
      >.resume-options {
        >.resume {
          font-size: 2rem;
          border: 2px solid black;
          border-radius: 10px;
          padding: 1.5rem;
  
          >svg {
            height: 2rem;
            width: 2rem;
            vertical-align: -0.125em;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  
  &.-about {
    font-size: 2rem;
    background-color: var(--p-bg-color-light-secondary);

    >.img-text {
      display: flex;
      justify-content: space-between;
      max-width: var(--p-wrapper-desktop);
      margin: 0 auto;
      padding: 6rem 0;

      >.img {
        width: 20%;
        background-color: var(--p-bg-color-light);
        display: flex;
        align-items: center;

        >img {
          padding: 1rem;
          width: 100%;
          border-radius: 20px;
        }
      }

      >.text {
        width: 70%;
        line-height: 1.5;
        text-align: justify;
      }
    }    
  }
  
}