@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes mouseRotation {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(30deg); }
}

.p-section {
  height: 70vh;

  .title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
  }

  &.-home {
    line-height: 1.2;
    font-size: 3rem;

    >.greetings-resume {
      max-width: var(--p-wrapper-desktop);
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      >.greeting-text {
        >div {
          >.name {
            color: red;
            font-size: 5rem;
          }
        
          >.job {
            color: blue;
            font-size: 4rem;
          }
        }
  
        &:after {
          content: '|';
          font-size: 5rem;
          margin-left: 5px;
          opacity: 1;
          animation: blink 0.5s infinite;
        }
      }
  
      >.resume-options {
        >.resume {
          font-size: 2rem;
          border: 2px solid black;
          border-radius: 10px;
          padding: 1.5rem;
  
          >svg {
            height: 2rem;
            width: 2rem;
            vertical-align: -0.125em;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  
  &.-about {
    font-size: 2rem;
    background-color: var(--p-bg-color-light-secondary);
    filter: blur(10px);
    transition: filter 0.5s ease-out;

    >.title-img-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      >.img-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: var(--p-wrapper-desktop);
      margin: 0 auto;

      >.img {
        width: 20%;
        background-color: var(--p-bg-color-light);
        display: flex;
        align-items: center;
        padding: 1rem;

        >img {
          width: 100%;
          border-radius: 20px;
        }
      }

      >.text {
        width: 70%;
        line-height: 2;
        text-align: justify;
        align-self: flex-start;
      }
    }  
    }
      
  }

  &.-technologies {
    font-size: 2rem;

    >.title-icons-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: var(--p-wrapper-desktop);
      margin: 0 auto;

      >.icons-text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15rem;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 5px;
          height: 250px;
          right: 50%;
          background-color: var(--p-bg-color-light-secondary);
        }

        >.icons {
          display: flex;
          gap: 4rem;
          flex-wrap: wrap;
          justify-content: flex-end;

          >.html, >.css, >.javascript, >.bootstrap, >.git, >.vite, >.sass {
            position: relative;

            >img {
              height: 100px;
            }

            >.black {
              opacity: 1;
              transition: 0.5s;
            }

            >.normal {
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              transition: 0.5s;
            }

            &:hover {
              .black {
                opacity: 0;
              }

              .normal {
                opacity: 1;
                scale: 1.2;
              }
            }
          }
        }

        >.text {
          align-self: center;

          >div {
            >p {
              >svg {
                height: 2rem;
                width: 2rem;
                vertical-align: -0.125em;
                animation: mouseRotation 0.5s alternate linear infinite;
              }
            }
          }
        }
      }
    }
  }
  
}