@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes mouseRotation {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(30deg); }
}

@keyframes borderX {
  0% { transform:translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes borderY {
  0% { transform:translateY(100%); }
  100% { transform: translateY(-100%); }
}

.p-section {
  padding: 8rem 5rem;
  display: flex;
  align-items: center;
  font-family: var(--p-font-family-base);

  .title {
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
    color: var(--p-text-title-color);
    font-weight: 600;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: var(--p-text-primary-color);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}