:root {
  --p-bg-color-light: #e6d9c6;
  --p-bg-color-light-secondary: #f8f2e4;
  --p-bg-color-dark: #202225;
  --p-bg-color-dark-secondary: #2f3136;

  --p-text-color-light: #b54300;
  --p-text-color-dark:#607d8b;
}