:root {
  --p-bg-color-base: #ededed;
  --p-bg-color-base-lighter: #fafafa;

  --p-text-primary-color:#7896FF;

  --p-text-base-color: #777777; 
  --p-text-title-color: #2d2d2d;

  --p-project-container-color: #ffffff;
}