.p-footer {
  font-size: 1.5rem;
  color: gray;
  border-top: 1px solid var(--p-bg-color-dark-secondary);
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--p-bg-color-light);
  
}