html {
  scroll-behavior: smooth;

  body {
    background-color: var(--p-bg-color-light);
  
    &.--dark-mode {
      background-color: var(--p-bg-color-dark);
      color: white;
    
      >header {
        color: white;
  
        >.p-header {
          box-shadow: 0 4px 10px 0px #2f3136;
        }
  
        .page-menu {
  
          >.nav-bar {
            >a {
              color: white;
              transition: 0.5s;
  
              &:hover {
                scale: 1.1;
                color: var(--p-text-color-dark);
              }
            }
          }
  
          >button {
            color: white;
  
            &:hover {
              color: var(--p-text-color-dark);
            }
          }
        }
      
        .page-settings {
          background-color: var(--p-bg-color-dark);
          border: 1px solid #2f3136;
          box-shadow: -3px 3px 5px 0px #2f3136;
        }
      }
  
      .p-section {
        .title {
          color: var(--p-text-color-dark);
        }
      }
  
      >.-home {
        >.greetings-resume-photo {
          >.greetings-resume {
            >.greetings-text {
              >.--highlight {
                color: var(--p-text-color-dark);
              }
            }
          }
  
          >.photo {
            background-color: var(--p-text-color-dark);
          }
        }
      }
  
      >.-about, >.-projects {
        background-color: var(--p-bg-color-dark-secondary);
        color: white;
      }
  
      >.-projects {
        >.title-projects {
          >.projects-github {
            >.projects {
              >.project {
                >.project-info {
                color: black;
                }
              }
            }
  
            >.github-link {
              &:hover {
                color: white;
              }
            }
          }
        }
      }
  
      >.-contacts {
        >.title-contacts-info {
          >.contacts-info {
             >.contact {  
              >a {
                >.contact-icon {
                  &.-dark-mode {
                    display: block;
                  }
  
                  &.-light-mode {
                    display: none;
                  }
                }
  
                >.info {
                  color: white;
                }
              }
            }
          }
        }
      }
  
      >footer {
        color: white;
        >.p-footer {
          background-color: var(--p-bg-color-dark);
          border-top: 1px solid var(--p-bg-color-dark-secondary);
        }
      }
    }
  }
}