body {
background-color: var(--p-bg-color-light);

  &.--dark-mode {
    background-color: var(--p-bg-color-dark);
    color: white;
  
    >header {
      color: white;

      >.p-header {
        box-shadow: 0 1px 10px 0px rgb(255 255 255 / 53%);
      }

      .page-menu {

        >.nav-bar {
          >a {
            color: white;
            transition: scale 0.5s;

            &:hover {
              scale: 1.1;
              color: white;
            }
          }
        }

        >button {
          color: white;

          &:hover {
            color: white;
          }
        }
      }
    
      .page-settings {
        background-color: var(--p-bg-color-dark);
      }
    }

    >.-about, >.-projects {
      background-color: var(--p-bg-color-dark-secondary);
      color: white;

      >.title-img-text {
        >.img-text {
          >.img {
            background-color: var(--p-bg-color-dark);
          }
        }
      }
    }

    >.-projects {
      >.title-projects {
        >.projects-github {
          >.projects {
            >.project {
              >.project-info {
              color: black;
              }
            }
          }

          >.github-link {
            &:hover {
              color: white;
            }
          }
        }
      }
    }

    >.-contacts {
      >.title-contacts-info {
        >.contacts-info {
           >.contact {  
            >a {
              >.contact-icon {
                &.-dark-mode {
                  display: block;
                }

                &.-light-mode {
                  display: none;
                }
              }

              >.info {
                color: white;
              }
            }
          }
        }
      }
    }

    >footer {
      color: white;
      >.p-footer {
        background-color: var(--p-bg-color-dark);
      }
    }
  }
}