@import '../public/styles/settings/responsive.scss';

html {
  scroll-behavior: smooth;

  body {
    background-color: var(--p-bg-color-base);
    color: var(--p-text-base-color);
  
    >.p-section {
      &.-home {
        font-size: 3rem;
        padding: 16rem 5rem 13rem 5rem;
    
        >.greetings-resume-animation {
          max-width: var(--p-wrapper-desktop);
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
    
          >.greetings-resume {
            >.greetings-text {
              >p {
                line-height: 5rem;
              }
    
              >.--highlight {
                color: var(--p-text-primary-color);
                font-size: 4rem;
              }
        
              >.text {
                display: none;
                &.-cursor {
                  &::after {
                    content: '|';
                    font-size: 5rem;
                    margin-left: 5px;
                    opacity: 1;
                    animation: blink 0.7s infinite;
                  }
                }
              }
            }
        
            >.resume-options {
              margin-top: 1rem;

              >a {
                >.resume {
                  font-size: 2rem;
                  border: 2px solid var(--p-text-base-color);
                  border-radius: 10px;
                  padding: 1.5rem;
                  transition: 0.5s;
                  background-color: transparent;
                  color: var(--p-text-base-color);
                  cursor: pointer;
  
                  &:hover {
                    background-color: var(--p-text-primary-color);
                    color: white;
                    border: 2px solid var(--p-bg-color-base-lighter);
                  }
          
                  >.bi-file-earmark-text {
                    height: 2rem;
                    width: 2rem;
                    vertical-align: -0.125em;
                    margin-right: 0.5rem;
                  }
                }
              }
    
            }
          }
          
          >.animation {
            width: 28%;
            display: flex;
            align-items: center;
            padding: 1rem;
          }
        }

        @include for-tablet {
          >.greetings-resume-animation {
            max-width: var(--p-wrapper-tablet);
      
            >.greetings-resume {
              >.greetings-text {
                >p {
                  line-height: 4rem;
                }
      
                >.--highlight {
                  font-size: 3.5rem;
                }          
              }
          
              >.resume-options {     
                >a {
                  >.resume {
                    font-size: 1.8rem;                  
            
                    >.bi-file-earmark-text {
                      height: 1.8rem;
                      width: 1.8rem;
                    }
                  }
                } 
              }
            }
            
            >.animation {
              display: none;
            }
          }
        }

        @include for-mobile {
          font-size: 2.5rem;
          >.greetings-resume-animation {
            max-width: var(--p-wrapper-cellphone);

            >.greetings-resume {
              text-align: center;

              >.greetings-text {
                >.--highlight {
                  font-size: 3rem;
                }
              }

              >.resume-options {
                margin-top: 1rem;

                >a {
                  >.resume {
                    font-size: 1.5rem;
                    padding: 1.2rem;                  
            
                    >.bi-file-earmark-text {
                      height: 1.5rem;
                      width: 1.5rem;
                      margin-right: 0;
                    }
                  }
                }      
              }
            }
          }
        }
      }
      
      &.-about {
        font-size: 2rem;
        background-color: var(--p-bg-color-base-lighter);
        filter: blur(10px);
        transition: filter 0.5s ease-out;
    
        >.photo-title-text {
          display: flex;
          align-items: center;
          gap: 10rem;
          max-width: var(--p-wrapper-desktop);
          margin: 0 auto;
          width: 100%;

          >.photo {
            width: 30%;

            >img {
              width: 100%;
              height: auto;
              border-radius: 5rem;
              border: 1px solid var(--p-text-primary-color);
            }
          }

          >.title-text {
            width: 70%;
            
            >.title {
              text-align: left;
            }

            >.text {
              line-height: 2;
              text-align: justify;
            } 
          }
    
        }

        @include for-tablet {
          font-size: 1.8rem;
    
          >.photo-title-text {
            gap: 5rem;
            max-width: var(--p-wrapper-tablet);
          }
        }

        @include no-photo {
          >.photo-title-text {
            >.photo {
              display: none;
            }

            >.title-text {
              width: 100%;
            }
          }
        }

        @include for-mobile {
          font-size: 1.6rem;

          >.photo-title-text {
            max-width: var(--p-wrapper-cellphone);

            >.title-text {
              display: flex;
              flex-direction: column;
              align-items: center;

              >.text {
                text-align: center;
              }
            }
          }
        }
      }
    
      &.-skills {
        font-size: 2rem;
        filter: blur(10px);
        transition: filter 0.5s ease-out;
    
        >.title-icons-text {
          height: 100%;
          display: flex;
          flex-direction: column;
          max-width: var(--p-wrapper-desktop);
          margin: 0 auto;

          >.title {
            text-align: left;
          }
    
          >.icons-text {
            margin: 2.5rem 0;
    
            >.icons {
              display: flex;
              gap: 4rem;
              margin-bottom: 2rem;
              flex-wrap: wrap;
    
              >.html, >.css, >.javascript, >.bootstrap, >.git, >.vite, >.sass, >.angular {
                position: relative;
    
                >.icons-logo {
                  height: 80px;
                }
    
                >.-black {
                  opacity: 1;
                  transition: 0.5s;
                }
    
                >.-normal {
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0;
                  transition: 0.5s;
                }
    
                &:hover {
                  .-black {
                    opacity: 0;
                  }
    
                  .-normal {
                    opacity: 1;
                    scale: 1.2;
                  }
                }
              }
            }
    
            >.text {
              align-self: center;
              text-align: justify;

              >#description {
                line-height: 1.5;
              }
    
              >.placeholder {
                >.text {

                  >.bi-mouse2 {
                    height: 2rem;
                    width: 2rem;
                    vertical-align: -0.125em;
                    animation: mouseRotation 0.5s alternate linear infinite;
                  }

                  &.-mobile {
                    display: none;
                    
                    >.bi-cursor {
                      transition: none;
                      animation: click 1s infinite;
                    }
                  }

                }
              }
            }
          }
        }

        @include for-tablet {
          font-size: 1.8rem;
      
          >.title-icons-text {  
            max-width: var(--p-wrapper-tablet);

            >.icons-text {      
              >.icons {
                gap: 2rem;
      
                >.html, >.css, >.javascript, >.bootstrap, >.git, >.vite, >.sass, >.angular {      
                  >.icons-logo {
                    height: 70px;
                  }                 
                }
              }
      
              >.text {
                align-self: center;
                text-align: justify;

                >#skill-description {
                  line-height: 1.5;
                }
      
                >.placeholder {
                  >.text {
                    &.-desktop {
                      display: none;
                    }

                    &.-mobile {
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }

        @include for-mobile {
          font-size: 1.6rem;

          >.title-icons-text {
            align-items: center;

            >.about-skills {
              text-align: center;
            }

            >.icons-text {
              >.icons {
                justify-content: center;
                gap: 1.5rem;

                >.html, >.css, >.javascript, >.bootstrap, >.git, >.vite, >.sass, >.angular {      
                  >.icons-logo {
                    height: 55px;
                  }                 
                }
              }

              >.text {
                text-align: center;
              }
            }
          }
        }
      }
    
      &.-projects {
        font-size: 2rem;
        background-color: var(--p-bg-color-base-lighter);
        filter: blur(10px);
        transition: filter 0.5s ease-out;
    
        >.title-projects {
          max-width: var(--p-wrapper-desktop);
          text-align: center;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;

          >.subtitle {
            text-align: center;
          }

          .about-projects {
            margin-bottom: 2.5rem;
          }
    
          >.projects-github {
            display: flex;
            flex-direction: column;
            align-content: center;

            >.projects {
              display: flex;
              flex-direction: column;
              align-content: center;
              gap: 3rem;

              .project {
                display: flex;
                padding: 3rem;
                gap: 2.5rem;
                align-items: center;
                background-color: var(--p-project-container-color);
                border-radius: 3rem;
                box-shadow: 2px 2px 11px #00000038;

                >.project-image {
                  width: 50%;

                  >img {
                    width: 100%;
                    border-radius: 3rem;
                    box-shadow: 2px 2px 11px #00000038;
                  }
                }

                >.project-info {
                  text-align: center;
                  width: 50%;

                  >.project-title {
                    color: var(--p-text-title-color);
                    font-weight: 600;
                  }

                  >.project-description {
                    margin: 2.5rem 0;
                  }

                  >.links {
                    display: flex;
                    gap: 3rem;
                    justify-content: center;

                    >a {
                      color: var(--p-text-primary-color);
                      font-size: 1.5rem;
                    }
                  }
                }

                &.-soon {
                  >.project-info {
                    >.links {
                      >a {
                        cursor: not-allowed;
                        color: var(--p-text-base-color);
                      }
                    }
                  }
                }
              }

              >.more-projects {
                display: flex;
                flex-direction: column;
                gap: 3rem;
              }
            }
    
            >.see-more {
              display: none;
              margin-top: 1.5rem;

              >button {
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
                cursor: pointer;
                &:hover {
                  .bi-chevron {                  
                    animation: seeMore .8s infinite;                  
                  }
                }  
                
                >.bi-chevron {
                  vertical-align: -0.225rem;
                  width: 1.5rem;
                }
              }
            }
    
            >.github-link {
              display: block;
              font-size: 2.4rem;
              color: var(--p-text-base-color);
              transition: 1s;
              position: relative;
              width: fit-content;
              margin: 0 auto;
              margin-top: 2rem;
              padding: 2rem;
              overflow: hidden;
    
              >.link-border {
                position: absolute;          
    
                &:nth-child(1) {
                  top: 0;
                  right: 0;
                  width: 100%;
                  height: 3px;
                  background: linear-gradient(to right, var(--p-bg-color-base-lighter), var(--p-bg-color-base));
                  animation: borderX 1s linear reverse infinite;
                }
    
                &:nth-child(2) {
                  top: 0;
                  right: 0;
                  height: 100%;
                  width: 3px;
                  background: linear-gradient(to bottom, var(--p-bg-color-base-lighter), var(--p-bg-color-base));
                  animation: borderY 1s linear reverse infinite;
                  animation-delay: 0.5s;
                }
    
                &:nth-child(3) {
                  bottom: 0;
                  right: 0;
                  width: 100%;
                  height: 3px;
                  background: linear-gradient(to left, var(--p-bg-color-base-lighter), var(--p-bg-color-base));
                  animation: borderX 1s linear infinite;
                }
    
                &:nth-child(4) {
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 3px;
                  background: linear-gradient(to top, var(--p-bg-color-base-lighter), var(--p-bg-color-base));
                  animation: borderY 1s linear infinite;
                  animation-delay: 0.5s;
                }
              }

              &:hover {
                color: var(--p-text-title-color);

                >.link-border {
                  &:nth-child(1) {
                    background: linear-gradient(to right, black, var(--p-bg-color-base));
                  }
      
                  &:nth-child(2) {
                    background: linear-gradient(to bottom, black, var(--p-bg-color-base));
                  }
      
                  &:nth-child(3) {
                    background: linear-gradient(to left, black, var(--p-bg-color-base));
                  }
      
                  &:nth-child(4) {
                    background: linear-gradient(to top, black, var(--p-bg-color-base));
                  }
                }
              }
            }
          }
        }

        @include for-tablet {
          font-size: 1.8rem;
      
          >.title-projects {   
            max-width: var(--p-wrapper-tablet);

            >.projects-github {
              >.projects {
                .project {
                  gap: 3rem;

                  >.project-info {
                    width: 100%;

                    >.project-description {
                      margin: 2rem 0;
                    }

                    >.links {
                      gap: 2.5rem;
                    }
                  }

                  >.project-image {
                    width: 100%;
                  }
                }

                .more-projects {
                  display: none;
                }
              }
    
              >.see-more {
                display: block;
              }
      
              >.github-link {
                font-size: 2rem;          
              }
            }
          }
        }

        @include no-photo {
          >.title-projects {
            >.projects-github {
              >.projects {
                >.project {
                  flex-direction: column;

                  >.project-image, >.project-info {
                    width: 100%;
                  }
                }

                >.more-projects {
                  >.project {
                    flex-direction: column;

                    &:first-child {
                      >.project-info {
                        order: 2;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        @include for-mobile {
          font-size: 1.6rem;

          >.title-projects {
            max-width: var(--p-wrapper-cellphone);

            >.projects-github {
              >.github-link {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    
      &.-contacts {
        filter: blur(10px);
        transition: filter 0.5s ease-out;
        font-size: 2rem;
    
        >.title-contacts-info {
          max-width: var(--p-wrapper-desktop);
          width: 100%;
          margin: 0 auto;
          text-align: center;      
    
          >.contacts-info {
            display: flex;
            justify-content: center;
            gap: 6rem;
    
            >.contact {
              display: flex;
              flex-direction: column;
              align-items: center;
              transition: 0.5s;
    
              >.contact-link {
                color: var(--p-text-base-color);
    
                .contact-icon {
                  height: 6rem;
                  margin-bottom: 0.5rem;
                  overflow: visible;        
    
                  &.-dark-mode {
                    display: none;
                  }
                }
              }          
    
              &:hover {
                scale: 1.2;
                cursor: pointer;
    
              }
            }
          }
        }

        @include for-tablet {
          font-size: 1.8rem;

          >.title-contacts-info {
            max-width: var(--p-wrapper-tablet);

            >.contacts-info {
              gap: 3rem;
            }
          }
        }

        @include for-mobile {
          font-size: 1.6rem;

          >.title-contacts-info {
            max-width: var(--p-wrapper-cellphone);

            >.contacts-info {
              gap: 2rem;

              >.contact {
                >.contact-link {
                  >.contact-icon {
                    height: 5rem;
                    margin-bottom: 0;
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}