<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portifólio</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

  <script type="module" src="p-header.js" defer></script>
</head>
<body>
  <div class="header-container">
    <div class="menu-mobile _hide">
      <img src="../../assets/images/header/menu-daymode.png" class="menu" alt="Menu">
    </div>
  
    <div class="logo">
      <img src="../../assets/images/header/personal-logo.png" class="personal-logo" alt="Logo pessoal escrito dato.dev">
    </div>
  
    <div class="navbar-settings">
      <div class="navbar">
        <a id="home-anchor" class="link" href="#home">Início</a>
        <a id="skills-anchor" class="link" href="#skills">Habilidades</a>
        <a id="projects-anchor" class="link" href="#projects">Projetos</a>
        <a id="contacts-anchor" class="link" href="#contacts">Contato</a>
      </div>
  
      <div id="settings" class="settings">
        <div class="language">
          <button class="p-btn -settings -lang-active" onclick="pHeaderController.toggleLanguage()">
            <img src="../../assets/images/header/bra.png" alt="Bandeira do brasil" id="active-lang" class="lang-img">
          </button>
        </div>
  
        <div class="theme">
          <button class="p-btn -settings -theme-active" onclick="pHeaderController.toggleTheme()">
            <img src="../../assets/images/header/sun-daymode.png" alt="Sol" id="active-theme" class="theme-img">
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>