.p-header {
  font-size: 2rem;
  font-family: var(--p-font-family-base);
  color: var(--p-text-title-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 10px 0px #00000038;
  padding: 1.5rem 5rem;
  position: fixed;
  max-height: 3rem;
  width: calc(100vw - 10rem);
  height: 100%;
  z-index: 2;

  >.header-container {
    width: 100%;
    max-width: var(--p-wrapper-desktop);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >.menu-mobile {
      height: 40px;

      >.menu {
        height: 100%;
      }
    }

    >.logo {
      height: 100%;
      justify-content: flex-start;

      >.personal-logo {
        height: 100%;
      }
    }

    >.navbar-settings {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      >.navbar {
        display: flex;
        gap: 2rem;

        >.link {
          color: inherit;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            color: var(--p-text-primary-color);
          }
        }
      }

      >.settings {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;

        >.language, >.theme {
          align-self: center;
          position: relative;
        }
      }
    }
  }
}