@import '../../styles/settings/responsive.scss';

.p-header {
  box-sizing: border-box;
  font-size: 2rem;
  font-family: var(--p-font-family-base);
  color: var(--p-text-title-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 10px 0px #00000038;
  padding: 1.5rem 5rem;
  position: fixed;
  max-height: 6rem;
  width: 100vw;
  height: 100%;
  z-index: 2;

  >.header-container {
    width: 100%;
    max-width: var(--p-wrapper-desktop);
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >.menu-mobile {
      display: none;
      height: 100%;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        color: var(--p-text-primary-color);
      }

      >.bi-list {
        width: 100%;
        height: 100%;
      }
    }

    >.logo {
      height: 100%;
      justify-content: flex-start;

      >.personal-logo {
        height: 100%;
      }
    }

    >.navbar-settings {
      display: flex;
      gap: 1.5rem;
      align-items: center;

      >.navbar {
        display: flex;
        gap: 2rem;

        >.link {
          color: inherit;
          transition: 0.5s;

          &:hover {
            cursor: pointer;
            color: var(--p-text-primary-color);
          }
        }
      }

      >.settings {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }
    }
  }

  @include for-tablet {
    >.header-container {
      max-width: var(--p-wrapper-tablet);
      position: relative;      

      >.menu-mobile {
        display: flex;
      }

      >.logo {
        height: 100%;
        justify-content: flex-start;
        order: 3;

        >.personal-logo {
          height: 100%;
        }
      }

      >.navbar-settings {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        >.navbar {
          display: none;
          gap: 2rem;
          flex-direction: column;
          position: absolute;
          top: 4.5rem;
          left: 0;
          background-color: var(--p-bg-color-base-lighter);
          padding: 2rem;
          width: 30rem;
          box-shadow: 0 7px 10px 0px #00000038;

          >.link {
            color: inherit;
            transition: 0.5s;

            &:hover {
              cursor: pointer;
              color: var(--p-text-primary-color);
            }
          }
        }

        >.settings {
          display: flex;
          gap: 1rem;
          justify-content: flex-end;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 5rem;
        }
      }
    }
  }

  @include for-mobile {
    >.header-container {
      max-width: var(--p-wrapper-cellphone);

      >.menu-mobile {
        height: 80%;
      }

      >.logo {
        height: 80%;
      }

      >.navbar-settings {
        >.navbar {
          width: 20rem;
        }

        >.settings {
          gap: 0;
          left: 3rem;
        }
      }
    }    
  }
}